<header>
    <div class="container">
        <div class="header">
            <h1 class="header__title">FashionShop</h1>
            <nav class="header__nav">
                <ul>
                    <li class="header-nav__item"><a href="">Home</a></li>
                    <li class="header-nav__item"><a href="">Shop</a></li>
                    <li class="header-nav__item"><a href="">Lookback</a></li>
                    <li class="header-nav__item"><a href="">Features</a></li>
                    <li class="header-nav__item"><a href="">Pages</a></li>
                    <li class="header-nav__item"><a href="">Blog</a></li>
                </ul>
            </nav>
            <div class="header-user">
                <ul>
                    <li class="header-user__item">
                        <button class="material-icons-outlined">
                            search
                        </button>
                    </li>
                    <li class="header-user__item">
                        <a href="#" class="material-icons-outlined">favorite_border</a>
                    </li>
                    <li class="header-user__item">
                        <a href="#" class="material-icons-outlined">shopping_cart</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>