<div class="banner-wrap">
    <div class="container">
        <div class="banner">
            <span class="banner__text">new trand</span>
            <b class="banner__trend">collusion</b>
            <span class="banner__text">An exclusive selection of this season's trends.</span>
            <div class="banner-link-wrap">
                <a href="" class="banner-link btn-primary">DISCOVER</a>
                <a href="" class="banner-link btn-primary">SHOP NOW</a>
            </div>
        </div>
    </div>
</div>