<div class="section">
    <div class="container">
        <div class="category">
            <a href="#" class="category__link">
                <span class="category__name">
                    category name
                </span>
            </a>
            <a href="#" class="category__link">
                <span class="category__name">
                    category name
                </span>
            </a>
            <a href="#" class="category__link">
                <span class="category__name">
                    category name
                </span>
            </a>
            <a href="#" class="category__link">
                <span class="category__name">
                    category name
                </span>
            </a>
        </div>
    </div>
</div>