<div class="section">
    <div class="container">
        <h2 class="section__title">
            men′s fashion
        </h2>
        <p class="section__subtitle">
            Shop our new arrivals from established brands
        </p>
        <div class="fashion-product-wrap">
            <div class="fashion-product">
                <picture>
                    <source srcset="images/m-fashion-1.avif" type="image/avif">
                    <source srcset="images/m-fashion-1.webp" type="image/webp">
                    <img class="fashion-product__pic" src="images/m-fashion-1.jpg" alt="">
                </picture>
                <span class="fashion-product__brand">
                    igure
                </span>
                <a href="#" class="fashion-product__link">
                    green muscle fit polo shirt
                </a>
                <span class="fashion-product__price_old">$229.00</span>
                <span class="fashion-product__price_new"> $129.00</span>
            </div>
            <div class="fashion-product">
                <picture>
                    <source srcset="images/m-fashion-2.avif" type="image/avif">
                    <source srcset="images/m-fashion-2.webp" type="image/webp">
                    <img class="fashion-product__pic" src="images/m-fashion-2.jpg" alt="">
                </picture>
                <span class="fashion-product__brand">
                    igure
                </span>
                <a href="#" class="fashion-product__link">
                    green muscle fit polo shirt
                </a>
                <span class="fashion-product__price_old">$229.00</span>
                <span class="fashion-product__price_new"> $129.00</span>
            </div>
            <div class="fashion-product">
                <picture>
                    <source srcset="images/m-fashion-3.avif" type="image/avif">
                    <source srcset="images/m-fashion-3.webp" type="image/webp">
                    <img class="fashion-product__pic" src="images/m-fashion-3.jpg" alt="">
                </picture>
                <span class="fashion-product__brand">
                    igure
                </span>
                <a href="#" class="fashion-product__link">
                    green muscle fit polo shirt
                </a>
                <span class="fashion-product__price_old">$229.00</span>
                <span class="fashion-product__price_new"> $129.00</span>
            </div>
            <div class="fashion-product">
                <picture>
                    <source srcset="images/m-fashion-4.avif" type="image/avif">
                    <source srcset="images/m-fashion-4.webp" type="image/webp">
                    <img class="fashion-product__pic" src="images/m-fashion-4.jpg" alt="">
                </picture>
                <span class="fashion-product__brand">
                    igure
                </span>
                <a href="#" class="fashion-product__link">
                    green muscle fit polo shirt
                </a>
                <span class="fashion-product__price_old">$229.00</span>
                <span class="fashion-product__price_new"> $129.00</span>
            </div>

        </div>
    </div>
</div>